---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="icon" href="favicon.ico">
    
    <meta property='og:title' content= "Kaixin Wang's Personal Website"/>
    <meta property='og:image' content="https://github.com/kaixin-wang/kaixin-wang.github.io/blob/master/_layouts/thumbnail.png"/>
    <meta property='og:description' content="Kaixin's Personal Website"/>
    <meta property='og:url' content="https://kaixin-wang.github.io/"/>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
  
</html>
